:host {
  width: 35%;
  min-height: 100vh;
  background: #a4508b;
  background-image: linear-gradient(
    to left bottom,
    #100e22,
    #131431,
    #171740,
    #1b1b50,
    #211e60,
    #2e2267,
    #3a266d,
    #462a74,
    #543172,
    #603971,
    #694271,
    #714c71
  );
  padding-top: 160px;
  color: #fff;
}

.no-data {
  color: #fff;
  text-align: center;
}

ul.songs-list {
  margin-top: 50px;
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
  width: 85%;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease-in-out 0.35s;
    cursor: pointer;
    position: relative;
    padding: 15px 25px;
    background: rgba(250, 250, 250, 0);
    border-radius: 6px;
    box-shadow: none;

    & * {
      color: #fff;
      text-transform: capitalize;
    }

    h3 {
      font-weight: normal;
      display: flex;
    }

    p {
      opacity: 0.6;
    }

    span {
      opacity: 0.4;
      margin-right: 10px;
    }

    .play-icon {
      display: none;
      margin-right: 5px;
    }

    .number {
      display: inline-block;
      font-size: 14px;
    }

    &:hover {
      opacity: 1;
      box-shadow: 0px 6px 8px rgb(0 0 0 / 20%);
      background: #fff;
    }

    &:hover *,
    &:hover h3 {
      color: #000;
    }

    &:hover .number {
      display: none;
    }

    &:hover .play-icon {
      display: inline-block;
    }
  }
}
