@import "./equalizer.component.scss";

.album-details {
  padding-top: 160px;
}

.no-data {
  color: #fff;
  text-align: center;
}

.error {
  color: #fff;
  font-size: 23px;
  text-align: center;
}

ul.songs-list {
  margin-top: 50px;
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;

  @media only screen and (max-width: 860px) {
    width: 100%;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease-in-out 0.35s;
    cursor: pointer;
    position: relative;
    padding: 15px 25px;
    background: rgba(250, 250, 250, 0);
    border-radius: 6px;
    box-shadow: none;

    & * {
      color: #fff;
      text-transform: capitalize;
    }

    h3 {
      font-weight: normal;
      display: flex;
      align-items: center;
    }

    &.active h3,
    &.active .number {
      color: #ffcd06;
    }

    p {
      opacity: 0.6;
    }

    &:hover {
      opacity: 1;
      box-shadow: 0px 6px 8px rgb(0 0 0 / 20%);
      background: #fff;
    }

    &:hover *,
    &:hover h3 {
      color: #000;
    }

    &.active:hover h3 {
      color: #ffcd06;
    }

    &:hover .number {
      display: none;
    }

    &:hover .play-icon {
      display: inline-block;
    }

    &:hover .toggle-pause {
      display: block;
    }

    &:hover .toggle-play {
      display: none;
    }
  }
}

.play-btn {
  border: none;
  background-color: transparent;
  outline: none;
  width: 25px;
  margin-right: 15px;

  .play-icon {
    display: none;
    margin-right: 5px;
  }

  .number {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
  }

  .equalizer-icon {
    margin-right: 5px;
  }

  .pause {
    display: none;
  }

  .toggle-pause {
    display: none;
  }

  .toggle-play {
    display: inline-block;
  }
}
