$white: #fff;
$gray: #3a3a3a;
$yellow: #ffcd06;
$blur-background: rgba(0, 0, 0, 0.01);
$purple: #7854f7;
$grey-body-text: #94a2b3;
$base-background-color: #e5e5e5;
$global-font-family: "Roboto", sans-serif;
$light-gray: #c4c4c4;
$base-color: #272d4e;
$base-font-size: 14px;
$global-box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.1);
$card-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2),
  0 10px 10px rgba(0, 0, 0, 0.22);

@mixin blur-background {
  background: #c4c4c4;
  backdrop-filter: blur(200px);
}

@mixin base-text-style {
  font-family: $global-font-family;
  font-style: normal;
  font-weight: 400;
  color: $grey-body-text;
}

@mixin large-text-style {
  @include base-text-style;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: $gray;
}

@mixin heading-style {
  @include base-text-style;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: $gray;
}

@mixin body-style {
  @include base-text-style;
  font-size: $base-font-size;
  line-height: 18px;
  color: $base-color;
}

@mixin sub-headline-style {
  @include base-text-style;
  font-size: 12px;
  line-height: 12px;
  color: $gray;
}

@mixin overlay {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  left: 0;
  opacity: 0.4;
}
